.not-found{
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.not-found h1{
    font-size: 100px;
}
a.btn.btn-warning.mr-2{
    margin-right: 10px;
}
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center!important;
}
.ant-space.ant-space-horizontal.ant-space-align-center {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
.ant-spin-lg .ant-spin-dot i {
    width: 50px!important;
    height: 50px!important;
    margin: 19px!important;
}
